# Eclipse  #
###################

.classpath
.project
.settings/
target/
bin/
test-output/

# Idea #
##################
*.iml
*.ipr
*.iws
.idea/

.DAV

che-dto.ts
v3/**/latest/

node_modules/
.eslintcache
coverage
output
tools/automation/report/.vuepress/dist
tools/automation/report/che-plugin-registry
