#
# Copyright (c) 2021 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

# che-plugin-registry Happy Path workflow
# matrix jobs with alpine and ubi8
name: Happy Path

on:
  pull_request:
    paths:
      - '**/*'
      - '!sidecars/**'
  push:
    paths:
      - '**/*'
      - '!sidecars/**'

jobs:
  happy-path:
    strategy:
      fail-fast: false
      matrix:
        dist: ['alpine', 'rhel']
    runs-on: ubuntu-20.04
    steps:
      - name: Clone source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Clone source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - uses: actions/cache@v3.0.7
        name: Cache yarn dependencies
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - uses: actions/cache@v3.0.7
        name: Cache vsix dependencies
        id: download-unpacked-cache
        with:
          path: | 
            /tmp/che-plugin-registry/download-folder
            /tmp/che-plugin-registry/unpack-folder
          key: download-unpacked-cache-${{ hashFiles('**/che-theia-plugins.yaml') }}
          restore-keys: |
            download-unpacked-cache-

      - name: image-build
        run: |
          export SKIP_FORMAT=true
          export SKIP_LINT=true
          export SKIP_TEST=true
          if [[ "${{matrix.dist}}" == "alpine" ]]; then
            docker pull quay.io/eclipse/che-plugin-registry:next
            BUILDER=docker ./build.sh --tag happy-path
          elif [[ "${{matrix.dist}}" == "rhel" ]]; then
            BUILDER=docker ./build.sh --rhel --tag happy-path
          fi  

          # save locally built image
          docker save -o docker-image.tar quay.io/eclipse/che-plugin-registry:happy-path
      - name: Start minikube
        id: run-minikube
        uses: che-incubator/setup-minikube-action@next
        with:
          minikube-version: v1.21.0
      - name: load-image-minikube-registry
        id: load-image-minikube-registry
        run: |
          # load image in the docker registry
          eval $(minikube docker-env)
          docker load --input=docker-image.tar
          # display images
          docker images
      - name: Deploy Eclipse Che
        id: deploy-che
        uses: che-incubator/che-deploy-action@next
        with:
          # use custom image built by this PR
          plugin-registry-image: quay.io/eclipse/che-plugin-registry:happy-path
      - name: Run Happy Path tests
        id: run-happy-path-tests
        uses: che-incubator/happy-path-tests-action@next
        with:
          che-url: ${{ steps.deploy-che.outputs.che-url }}
