#
# Copyright (c) 2021 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

name: Resource Limits PR Check

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-20.04

    steps:

    - name: Setup node 16
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Clone source code
      uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

    - uses: actions/cache@v3.0.10
      name: Cache yarn dependencies
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Compile
      run: |
        cd tools/automation
        yarn
        yarn run build

    - name: Check for resources
      run: |
        cd tools/automation
        yarn node ./lib/check-resource-limits.js
